h1 #{message}
h2
  table
    thead
      tr
        th Nerds
        th and
        th Tough Girls
    tbody
      tr
        td <img src="http://cdn.petalphile.com/blipsy/nerdsandtoughgirls/thedaniel_medium.png" alt="http://cdn.petalphile.com/blipsy/nerdsandtoughgirls/thedaniel_medium.png">
        td
        td <img src="http://cdn.petalphile.com/blipsy/nerdsandtoughgirls/cris_medium.jpg" alt="http://cdn.petalphile.com/blipsy/nerdsandtoughgirls/cris_medium.jpg">

h2 Celebrate <a href="http://twitter.com/thedaniel">Daniel's</a> Birthday
h3 #{m2}
h3 <img src="http://cdn.petalphile.com/blipsy/nerdsandtoughgirls/blipsy_little.jpg" alt="Blipsy logo">
  

